<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                                  http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>codeartifact</id>
      <username>aws</username>
      <password>${codeartifact.token}</password>
    </server>
    <server>
      <id>sonatype-nexus-staging</id>
      <username>${sonatype.username}</username>
      <password>${sonatype.password}</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>codeartifact</id>
      <repositories>
        <repository>
          <id>codeartifact</id>
          <name>codeartifact</name>
          <url>${codeartifact.url}</url> <!-- passed via command line to avoid hardcoding it here -->
        </repository>
      </repositories>
    </profile>
  </profiles>

</settings>
